/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --accent-color: #FF0070;
  --text-shadow-color: #FF0070;
  --main-title-color: #DB00FF;
  --main-text-color: #000028;
  --content-title-color: #FF0070;
  --content-subtitle-color: #000028;
  --content-text-color: #F1B2CE;
  --decor-zone-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --hover-color: rgba(255, 0, 112, 0.40);
}